h1 {
  color: blue !important;
}
h2 {
    color: red;
    background-color: yellow;
    border: 1px solid black;
    padding: 100px 100px 100px 100px;
    text-align: center;
    text-decoration:overline underline;
    margin: 230px 100px 100px 100px;
    text-transform: capitalize;
    /*text-shadow: 10px 2px blue;
    font-style: oblique;*/
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
